.container{
      display: flex;
	  flex-wrap: wrap-reverse;
      justify-content: center;
}

        img {
            height: 400px;
            width: 400px;
            margin: 10px;
            box-shadow: 10px 10px 5px rgb(115, 236, 190);
            transition: all 3s;
        }
        
        flex-container {
            display: flex;
            flex-wrap: wrap-reverse;
            justify-content: center;
        }
        
        img:hover {
            transform: rotate(-20deg) scale(1.5, 1.5);
        }
